@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
@font-face {
    font-family: 'Fira Sans';
    src: url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
  }

body {
    font-family: 'Fira Sans', sans-serif;
}

.container-media-query {
  align-content: center;
}

@media only screen and (max-width: 1335px) {
  .container-media-query {
    align-content: unset;
  }
}