.dialog-media-query {
    height: 20vh;
    width: 30vh;
}

.empty-nft-media-query {
    justify-content: center;
    align-content: center;
    height: 70vh;
}

.view-nft-media-query {
    height: 100%;
}



@media only screen and (max-width: 490px) {

    .dialog-media-query {
        height: 40vh;
        width: 40vh;
    }

    .view-nft-media-query {
        height: 70vh;
    }
    

}